#alex_plot {
  width: 100%;
  display: flex;
  flex-direction: column;
}

main > h3 {
  margin-bottom: 0;
}

main > p {
  margin-top: 0;
}

#year_disp {
  margin: 0;
  display: flex;
  align-self: center;
  justify-self: self-end;
  font-weight: bold;
}

#plot_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#plot_header h3 {
  margin-top: 0;
}

@media only screen and (max-width: 800px) {
  #plot_header {
    flex-wrap: wrap;
  }
}

#plot_title {
  display: flex;
  justify-content: center;
}

#global_moran_pvalue {
  margin: 0;
}

#bar_chart {
  width: 50%;
  fill: darkblue;
  margin: 0;
}

#bar_chart svg {
  background-color: #cad6e8;
}

#plot_date {
  text-align: center;
}

#info {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  #info {
    flex-wrap: wrap;
  }

  #plot_header {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #buttons {
    flex-wrap: wrap;
  }

  #plot_types {
    justify-content: center !important;
  }
}

.color_container {
  width: 150px;
}

h4 {
  margin-bottom: 0;
}

#quantile_colors {
  display: flex;
}

#group1 {
  padding-right: 10px;
}

.color_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.color_container p {
  margin: 0;
}

#info_county {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#info_county p {
  margin: 0;
}

#info_county h3 {
  margin-bottom: 0;
}

#plot_map {
  display: flex;
  align-self: center;
  justify-self: center;
}

.boundary {
  fill: white;
  stroke: black;
  stroke-width: 1px;
}

#plot_types {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.option {
  padding: 2px 10px;
  margin: 5px;
  border: solid black 1px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.option_selected {
  border-width: 2px;
}

.color {
  height: 12px;
  width: 12px;
  border-radius: 100%;
  border: 1px lightgray solid;
  margin: 2px;
}

div.tooltip {
  color: #222;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  padding: 0.2em;
  text-shadow: #f5f5f5 0 1px 0;
  opacity: 0.9;
  position: absolute;
}

.hidden {
  visibility: hidden;
}

#plot_timeline {
}

#plot_date {
  margin-bottom: 0;
}

#plot_controls {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

#type_heatmap {
  width: 80px;
}

#type_stacked_heatmap {
  width: 150px;
}

#type_quantile {
  width: 250px;
}
